body,html {
	font-family: 'Open Sans', sans-serif;
	background-color: #263b69;
	height: 100vh;
	margin: 0
}
header {
	background: url(../images/header-bg.jpg);
	margin: 0 auto;
	display: flex;
	height: 20vh;
	justify-content: center;
	flex-direction: column;
}
header h1{
	color: midnightblue;
	text-shadow: 1px 1px 4px #d6def0;
	margin: 0;
	padding: 0;
}
.title {
	text-align: center;
	margin: 2em 0 2em 0;
	font-size: 4em;
}
main {
	margin: 3% 0 5% 0;
	display: flex;
	justify-content: center;;
}
main ul {
	display: inline-block;
	text-align: center;
}
.textarea {
	max-width: 90%;
	height: auto;
	margin: 2vh auto;
	display: block;
}
.textarea textarea {
	width: 50%;
	min-width: 280px;
	font-size: 1.5em;
	padding: 2%;
	display: inline;
	text-align: justify;
	margin: 0 auto;
	vertical-align: top;
	opacity: 0.3;
	transition: 0.3s opacity;
	border-radius: 10px;
	background-color: #bec9cf;
	resize: vertical;
	max-height: 100%;
}
#description {
	resize: none;
	width: 400px;
}
.textarea textarea:hover{
	opacity: 0.8;
}
.textarea textarea:focus{
	opacity: 0.8;
}
.textarea textarea:focus::placeholder{
	color: transparent;
}
.mainbutton{
	margin: 0;
	padding: 0.8em 1.4em;
	font-weight: bold;
	font-size: 1.1em;
	background-color: #16898455;
	color: white;
	text-shadow: 0.05em 0.05em 3px black;
	border: 0;
	box-shadow: 0.02em 0.02em 2px #003331;
	border-radius: 10px;
	box-sizing: border-box;
	transition: 0.2s font-size, 0.3s background-color, 0.2s padding;
	cursor: pointer;
	vertical-align: middle;
}
.mainbutton:hover{
	font-size: 1.15em;
	padding: 0.67em 1.26em 0.75em 1.27em;
	color: white;
	background-color: #289c97;
}
#error,#error2 {
	margin: 0.4em 1.6%;
	display:inline;
	position: absolute;
	padding: 0.3em;
	color: #FF0000;
	text-shadow: 0.07em 0.07em 1px #000000;
	background: #FFCDC333;
	border: 1px solid #00000033;
	border-radius: 8px;
}
.copybutton {
	margin: 0;
	padding: 0.8em 1.4em;
	font-weight: bold;
	font-size: 1.1em;
	background-color: #168984;
	color: white;
	text-shadow: 0.05em 0.05em 3px black;
	border: 0;
	box-shadow: 0.02em 0.02em 2px #003331;
	border-radius: 10px;
	box-sizing: border-box;
	transition: 0.2s font-size, 0.3s background-color;
	cursor: pointer;
	fill: currentColor;
	display: inline;
}
.copybutton:hover{
	font-size: 1.12em;
	color: white;
	background-color: #289c97;
}
.copybutton:focus{
	background-color: #80d18a;
}
footer {
	background-color: #00000055;
	/*position: absolute;
	bottom: 0;
	right: 0;
	left: 0;*/
	display: flex; 
	flex-direction: column; 
}
footer hr{
  border: 0;
  height: 1px;
  width: 80%;
  position: relative;
  margin: auto;
}
.center-ball{
    background: black;
}
footer section {
	height: 30px;
    flex-shrink: 0; 
	flex: 1 0 auto; 
	margin: 2vh 0;
}
footer section div {
	width: 220px;
	margin: 0 auto;
}
.copyright {
	width: 
	margin: 4em 0.2em 2em auto;
	color: #d6def0;
	text-shadow: 0.05em 0.05em 3px black;
	display: inline;
}
.github {
	margin: 0 0.2em;
	overflow: visible !important;
	vertical-align: text-bottom;
	display: inline-block;
}
.linkedin {
	overflow: visible !important;
	margin: 0 0.2em;
 	vertical-align: text-top;
 	display: inline-block;

}
.github-ico {
	fill: #00d5f1;
}
.linkedin-ico {
	fill: #00d5f1;
}